<section class="section about text-center" aria-labelledby="about-label" id="about">
    <div class="container">
        <div class="about-content">
            <p class="label-2 section-subtitle" id="about-label">@Subtitle</p>
            <h2 class="headline-1 section-title">@Title</h2>
            <p class="section-text">@Description</p>

            <div class="contact-label">@ContactLabel</div>
            <a href="tel:@PhoneNumber" class="body-1 contact-number hover-underline">@PhoneNumberFormatted</a>

            <a href="#" class="btn btn-primary">
                <span class="text text-1">@BtnText</span>
                <span class="text text-2" aria-hidden="true">@BtnText</span>
            </a>
        </div>

        <figure class="about-banner">
            <img src="@BannerImage" width="570" height="570" loading="lazy" alt="about banner" class="w-100" data-parallax-item data-parallax-speed="1">
            <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
                <img src="@AbsImage1" width="285" height="285" loading="lazy" alt="" class="w-100">
            </div>
            <div class="abs-img abs-img-2 has-before">
                <img src="@AbsImage2" width="133" height="134" loading="lazy" alt="">
            </div>
        </figure>

        <img src="@ShapeImage" width="197" height="194" loading="lazy" alt="" class="shape">
    </div>
</section>