<section class="special-dish text-center" aria-labelledby="dish-label">
    <div class="special-dish-banner">
        <img src="@BannerImage" width="940" height="900" loading="lazy" alt="special dish" class="img-cover">
    </div>

    <div class="special-dish-content bg-black-10">
        <div class="container">
            <img src="@BadgeImage" width="28" height="41" loading="lazy" alt="badge" class="abs-img">
            <p class="section-subtitle label-2">@Subtitle</p>
            <h2 class="headline-1 section-title">@Title</h2>
            <p class="section-text">@Description</p>

            <div class="wrapper">
                <del class="del body-3">@OldPrice</del>
                <span class="span body-1">@NewPrice</span>
            </div>

            <a href="#" class="btn btn-primary">
                <span class="text text-1">@BtnText</span>
                <span class="text text-2" aria-hidden="true">@BtnText</span>
            </a>
        </div>
    </div>

    <img src="@Shape1Image" width="179" height="359" loading="lazy" alt="" class="shape shape-1">
    <img src="@Shape2Image" width="351" height="462" loading="lazy" alt="" class="shape shape-2">
</section>