<section class="reservation" id="reservation">
    <div class="container">
        <div class="form reservation-form bg-black-10">
            <form action="" class="form-left">
                <h2 class="headline-1 text-center">@Title</h2>
                <p class="form-text text-center">
                    @FormText <a href="tel:@PhoneNumber" class="link">@PhoneNumberFormatted</a>
                    @FormText2
                </p>

                <div class="input-wrapper">
                    <input type="text" name="name" placeholder="@NamePlaceholder" autocomplete="off" class="input-field">
                    <input type="tel" name="phone" placeholder="@PhonePlaceholder" autocomplete="off" class="input-field">
                </div>

                <div class="input-wrapper">
                    <div class="icon-wrapper">
                        <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                        <select name="person" class="input-field">
                            @foreach (var option in PersonOptions)
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                        </select>
                        <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                    </div>

                    <div class="icon-wrapper">
                        <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>
                        <input type="date" name="reservation-date" class="input-field">
                        <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                    </div>

                    <div class="icon-wrapper">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                        <select name="time" class="input-field">
                            @foreach (var option in TimeOptions)
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                        </select>
                        <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                    </div>
                </div>

                <textarea name="message" placeholder="@MessagePlaceholder" autocomplete="off" class="input-field"></textarea>

                <button type="submit" class="btn btn-secondary">
                    <span class="text text-1">@SubmitText</span>
                    <span class="text text-2" aria-hidden="true">@SubmitText</span>
                </button>
            </form>

            <div class="form-right text-center" style="background-image: url('@FormPatternImage')">
                <h2 class="headline-1 text-center">@ContactTitle</h2>
                <p class="contact-label">@ContactLabel</p>
                <a href="tel:@PhoneNumber" class="body-1 contact-number hover-underline">@PhoneNumberFormatted</a>

                <div class="separator"></div>

                <p class="contact-label">@LocationLabel</p>
                <address class="body-4">@Address</address>

                <p class="contact-label">@LunchLabel</p>
                <p class="body-4">@LunchHours</p>

                <p class="contact-label">@DinnerLabel</p>
                <p class="body-4">@DinnerHours</p>
            </div>
        </div>
    </div>
</section>